@charset 'UTF-8';



header{
    background-image: url(/img/S__812312.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;

    padding-top: 8rem ;
    padding-bottom: 8rem;
    min-height: 30rem;
    display: flex;
    align-items: center;
    text-align: center;
     
}

.title{
    animation: bound-anim 0.5s infinite;
}
@keyframes bound-anim{
    0%,100% {top: 0;transform: scale(1);}
	30% {top: -60%; transform: scale(0.96,1.04);}
	60% {transform: scale(1);}
	90% {top: 0;transform: scale(1.15,0.9);}
}


.title h1{
    font-size: 50px;   
}
.title p{
    font-size: 25px;
}
.title{
    color: white;
}
li {
    list-style: none;
}
main{
    width: 100%;
    height: auto;
}
.nav {
    font-size: 20px;
    background-color:white;
   
   
    
}
.nav-link{
    color: darkblue;
}
.nav-item{
    margin: 0 30px;
}
#profile{
    border: double 5px darkblue;
}
.profile-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
}
.profile-contents{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}
.image-img{
    border-radius:50%;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
    
    
}
.content{
    font-size: 22px;
    text-decoration: none;
    
}
.content a{
    text-decoration: none;
    cursor: default;
    color: black;
}

#works{
    border-bottom: double 5px darkblue;
    border-left: double 5px darkblue;
    border-right: double 5px darkblue;
}
.works-contents{
    width: 100%;
    height: auto;
}

.works-title{
    text-align: center;
    font-size: 4rem;
    
}
.works-contents{
    display: flex;
    justify-content: space-evenly;
}

.article{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px darkblue;
    
    width: 40%;
    height: auto;
    
}
.img-box{
    width:100%;
    height: 60%;
}
h3{
    font-size: 26px;
    text-align: center;
}
.article p{
    text-align: center;
}

.git{
    text-align: center;   
}
.github{
    color: darkblue;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:darkblue;
    
}
.fixed .nav-link{
    color: white;
}
#contact{
    border-bottom: double 5px darkblue;
    border-right: double 5px darkblue;
    border-left: double 5px darkblue;
}
.contact-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
}
.contact-image{
    text-align: center;
    display: flex;
    justify-content: center;
}
.contact-img{
    width: 10%;
    border-radius: 50%;
    
}
#twitter{
    font-size: 50px;
    padding-left: 0px !important;   
    text-align: center;
}
.twitter-icon{
    color: darkblue;
}
.footer-main p{
    width: 100%;
    height: 80px;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin: 0 auto;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    font-size: 16px;
}

@media screen and (max-width:760px) {
    header{
        width: 100%;
    }
    .title h1{
        font-size: 30px;
    }
    .title p{
        font-size: 15px;
    }
    .nav{
        font-size: 15px;
    }
    .nav-item{
        margin: 0 10px;
    }
    .profile-title{
        font-size: 2rem;
    }
    .profile-contents{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .works-title{
        font-size: 2rem;
    }
    
    .works-contents{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h3{
        font-size: 13px;
    }
    .article{
        height: 300px;
        width: 70%;
    }
    .article p{
        font-size: 10px;

    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-contents{
        display: flex;
        justify-content: center;
   
    }
    .contact-img{
        display: none;
    }
    #twitter{
        width: 30%;
    }
    .footer-main{
        font-size: 12px;
    }
    span{
        font-size: 8px;
    }
    
        

}
@media screen and (max-width:1200px) {
    header{
        width: 100%;
    }
    .title h1{
        font-size: 40px;
    }
    .title p{
        font-size: 20px;
    }
    .nav{
        font-size: 20px;
    }
    .profile-title{
        font-size: 3rem;
    }
    
    .content{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .works-title{
        font-size: 3rem;
    }
    
    
    h3{
        font-size: 18px;
    }
    .article{
        height:auto;
        width: 70%;
        margin: 5px 10px;
    }
    .article p{
        font-size: 15px;

    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-contents{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-img{
        display: none;
    }
    
    #twitter{
        width: 30%;
    }
    .footer-main{
        font-size: 20px;
    }
    span{
        font-size: 14px;
    }
    
        

}
@media screen and (max-width:400px) {
    header{
        width: 100%;
    }
    .title h1{
        font-size: 30px;
    }
    .title p{
        font-size: 15px;
    }
    .nav{
        font-size: 12px;
    }
    .nav-item{
        margin: 0 5px;
    }
    .profile-title{
        font-size: 2rem;
    }
    .profile-contents{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .works-title{
        font-size: 2rem;
    }
    
    .works-contents{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h3{
        font-size: 13px;
    }
    .article{
        height: 280px;
        width: 70%;
    }
    .article p{
        font-size: 10px;

    }
    .contact-title{
        font-size: 2rem;
    }
    .contact-contents{
        display: flex;
        justify-content: center;
   
    }
    .contact-img{
        display: none;
    }
    #twitter{
        width: 30%;
    }
    .footer-main{
        font-size: 8px;
    }
    span{
        font-size: 6px;
    }
    
        

}


